@import "tailwindcss";

body{
  background-color: #0b0b0b;
  color: white;
}

@font-face {
  font-family: big-font;
  src: url("/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2");
}
@font-face {
  font-family: small-font;
  src: url("/4UaHrEJDsxBrF37olUeD96rp5w.woff2");
}
.big{
  font-family: big-font;
}
.small{
  font-family: small-font;
}

h1{
  text-align: center;
}

